.header-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem 2rem 0rem;
    margin-left: 20%;
    margin-right: 20%;
}


.header-container h1 {
}

.routes {
    display: flex;
    gap: 1.5rem;
}