.header-content {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 2rem;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 2rem;
}