<div class="card-container">
  <div
    *ngFor="let song of songObj; let i = index"
    (click)="selectSong(song, i)"
    class="card"
    [class.active]="selectedIndex === i"
  >
    <div class="image-container">
      <audio
        id="audioSong{{ i }}"
        hidden
        controls
        src="{{ song.previewUrl }}"
      ></audio>
      <img
        (click)="playSong(song, i)"
        src="assets/images/play-button.png"
        id="playAudio"
        [class.isPlaying]="playIndex === i"
      />
      <!-- <button (click)="playSong()" id="playAudio">
      </button> -->
      <img src="{{ song.images[0].url }}" class="diskImage" />
    </div>
    <div class="words-container">
      <h3>{{ song.artist }}</h3>
      <p class="top-border">{{ song.songName }}</p>
      <a class="spotify" target="__blank" href="{{ song.songLink }}">
        <img src="assets/images/spotify.png" style="width: 40px" />
      </a>
    </div>
  </div>
</div>
