.card-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 100%;
    min-width: 100%;

}

.card {
    border-color: blue;
    background-color: #3b97e5a8;
    border-radius: 7px;
    display: flex;
    // max-height: 150px;
    flex: auto;
    width: 100%;
    border: 2px solid ghostwhite;
    box-shadow: 0px 0px 0px 2px rgb(51, 176, 77), 8px 8px 0px 0px rgb(62, 62, 62)
    
}

.diskImage {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.active {
    background-color: #33b04d;
}

.card a {
    text-decoration: none;
    font-size: 1.2rem;
}

.top-border {
    border-top: solid 1px lightgray;
    font-size: 1.2rem;

}

.image-container {
}

.words-container {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    padding: 2rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    align-self: center;
    text-align: center;
}

.words-container p {
}


@media screen and (max-width: 600px) {
    .words-container {
        font-size: 12px;
    }
    .spotify {
        // display: none;
    }

    .card {
        max-height: none;
    }
  }

@media screen and (max-width: 1024px) {
    .words-container {
        font-size: 12px;
    }
    .spotify {
        // display: none;
    }

    .card {
        max-height: none;
    }
  }



.card img {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    object-position:top 0 left 0;
    max-width: 150px;
  object-fit: cover;
}

.words-container a {
    text-decoration: none;
    color: whitesmoke;
}

.image-container {
    position: relative;
    display: flex;
}

#playAudio {
    width: 48px;
    /* display: flex; */
    position: absolute;
    left: 35%;
    bottom: 35%;
    border-radius: 9px;
    filter: hue-rotate(48deg);
    transition: transform .1s;
}

#playAudio:hover {
    // filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.2);
}

.isPlaying {
    filter: hue-rotate(323deg) !important;
}
